:root {
  --font-family-main: 'Muller', sans-serif;
  --font-size-normal: 16px;
  --font-size-medium: 24px;
  --font-size-subtitle: 20px;
  --font-size-title: 96px;
}

@media (max-width: 768px) {
  :root {
    --font-size-normal: 14px;
    --font-size-medium: 14px;
    --font-size-subtitle: 16px;
    --font-size-title: 24px;
  }
}
